body {
background-color: #09e2ea;
}
h1 {
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}
main {
    background-color: rgb(51, 7, 92);
    width: 500px;
    height: 750px;
    margin: 100px auto;
    border-radius: 20px;
    text-align: center;
    padding-top: 5px;
}
.afichage {
    background-color: rgb(249, 243, 231);
    width: 400px;
    height: 60px;
    margin: 50px auto 10px auto;
    border-radius: 20px;
    margin-bottom: 50px;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    padding: 20px;

    


    
}
.btn{
     margin: 10px;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50px;
    font-size: large;
    font-weight: bold;
    transition: 0.3s;
    transform: 0.3s;

}
:hover.btn{
    background-color: rgb(69, 223, 8);
    color: black;
    cursor: pointer;
    transform: scale(1.1);

}
.btn1{
    margin: 10px;
    width: 80px;
    height: 80px;
    border: none;
    border-radius: 50px;
    font-size: 30px;
    font-weight: bold;
    background-color: rgb(176, 247, 12);
    transition: 0.3s;
    transform: 0.3s;
}
:hover.btn1{
    background-color: rgb(221, 67, 25);
    color: black;
    cursor: pointer;
    transform: scale(1.1);

}